<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel Bucket List</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

  </head>
  <body>
  <div id="background">
  </div>
    <nav>
      <a href="/">
        <h2>Travel Bucket List</h2>
      </a>
      <div id="countries">
      <div>
    </nav>
    <main>
      <%= yield %>
    </main>

  </body>
</html>
