<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel Bucket List</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <nav>
      <h2> Travel Bucket List </h2>
      <div id="menu">
        <a href="/countries">Countries</a>
        <a href="/cities">Cities</a>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
