<div id="addCityContainer">
  <form method="post" action="/cities/<%=@city.id%>">
    <div class="row">
      <label for="name">Edit city</label>
      <input type="text" id="name" name="name" value="<%=@city.name%>">
    <div class="row">
      <input type="submit" value="Update">
    </div>
  </form>

  <form method="post" action="/cities/<%=@city.id%>/delete">
    <div class="row">
      <input type="submit" value="Delete">
    </div>
  </form>
</div>
