nav {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid black;
}

nav h2 {
  text-align: center;
  padding-top: 20px;
}

#menu {
  display: block;
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

#container {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

#visits {
  grid-column: 1/2;
}

#bucketItems {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}

.bucketItem {
  border: 1px solid black;
  padding-left: 45px;
  align-self: center;
}

#countries {
  grid-column: 2/3;
}

#countries a {
 text-decoration: none;
}

.country {
  display:grid;
  grid-template-columns: 2fr 1fr;
  text-align: center;
  border: 1px solid black;
  margin: 3px;
}

.countryName, .countryEdit {
  height: 40px;
  padding-top:15px;
  color: black;
}

.countryName {
  border-right: 1px solid black;
  background-color: #B4C5A0;
}

.countryEdit {
  height: 40px;
  background-color: #DA967F;
}

.toggle {
  display: inline-block;
  padding-left: 10px;
}

#searchandtoggles {
  grid-column: 1/2;
  display: grid;
  grid-column: repeat(6, 1fr);
}

#visitToggles {
  border: 1px solid black;
  width: 300px;
  grid-column: 5/6;
  grid-row: 1;
}

#search {
  width: 200px;
  border: 1px solid black;
  grid-column: 6/7;
}

.city {
  font-family: 'Roboto Slab', serif;
}

.city a {
  text-decoration: none;
  color: black;
}
