<div class="addEditCountry">
  <form method="post" action="/countries/<%=@country.id%>">
    <div class="row">
      <label for="name">Edit country: </label>
      <input type="text" id="name" name="name" value="<%=@country.name%>">
    </div>
    <div class="row">
    <input type="submit" value="Update">
    </div>
  </form>
  <div class="row">
    <form method="post" action="/countries/<%=@country.id%>/delete">
      <input type="submit" value="Delete">
    </form>
  </div>
</div>
