<div class="addEditCountry">
  <form method="post" action="/countries">
    <div class="row">
      <label for="name">Add country name:</label>
      <input type="text" id="name" name="name">
    </div>
    <div class="row">
    <input type="submit" value="Create">
    </form>
  </div>
</div>
