<div id="addSightContainer">
  <form method="post" action="/sight/<%=@visit.id%>/add-sight">
    <div class="row">
      <label>Sight name:</label>
      <input type="text" name="name">
    </div>
    <div class="row">
      <input type="submit" value="Add">
    </div>
  </form>
</div>
