<div id="addSightContainer">
  <form method="post" action="/sight/<%=@visit.id%>/add-sight">
    <div class="row">

      <label>Sight name:
        <input type="text" name="name">
      </label>

    </div>
    <input type="submit" value="Add">
  </form>
</div>
